<a id="toc"></a>
# THEORY PANDAS-Series


- [pd.Series](#series) 




- [OPERATIONS](#op):
    - +- <,add,multiply, 

--- 
(start dataframes from here)

---

here similar to pandas dataframes:
- [INDEXING](#index) :
    - at,loc, iat,iloc (=IntegerOnly-loc), boolean indexation, head, tail 


- [ORDER BY](#order)

- [AGGREGATION](#agg)

- [USEFULL FUNCTIONALITIES](#func) 
    - string methods
    - datetime
- [CONCAT](#concat)

- [MAP/APPLY](#map)

# imports

In [1]:
### import tools
import numpy as np 
import pandas as pd

quick help
```py 
import pandas as pd
pd? 
```
documentation
https://pandas.pydata.org/docs/

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

<a id="series"></a>
## pd.Series()
[toc](#toc)

In [2]:
### first series: like numpy arrays and a dictionary
series = pd.Series(data=[0.25, 0.5, 0.75, 1.0])
print(series)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
if False:
    '''
    import pandas

    data = pandas.Series()

    from pandas import Series

    data = Series()

    '''

In [4]:

### other ways to define a series

series = pd.Series(data=[0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'], dtype=np.float32)
print(series)
print('-'*50)
series = pd.Series(data={'a':0.25, 'b': 0.5, 'c':0.75, 'd':1.0}, dtype = np.float32)
print(series)
print('-'*50)
series2 = pd.Series(data=np.arange(3), index = list('cde'))
print(series2)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float32
--------------------------------------------------
a    0.25
b    0.50
c    0.75
d    1.00
dtype: float32
--------------------------------------------------
c    0
d    1
e    2
dtype: int64

## attributes

In [5]:
### shape similar to numpy
series.shape

(4,)

In [6]:
### data-type similar to numpy
series.dtype

dtype('float32')

In [7]:
### recover data values as numpy array, similar to dict.values()
series.values

array([0.25, 0.5 , 0.75, 1.  ], dtype=float32)

In [8]:
### recover index values/generator, similar to dict.keys()
series.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
### get items-pair, similar to dict.items()
list(series.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [10]:
series_cat = pd.Series(list('abcabc'), dtype="str")
series_cat

0    a
1    b
2    c
3    a
4    b
5    c
dtype: object

In [11]:
series_cat.nbytes

48

In [12]:
series_cat.astype('category').nbytes

30

In [13]:
series_cat2 = pd.Series([0,1,2,0,1,2],dtype=np.uint8)
series_cat2.nbytes

6

<a id="op"></a>
# operations
[toc](#toc)

- elem by elem

In [14]:
0.5*series + 1

a    1.125
b    1.250
c    1.375
d    1.500
dtype: float32

In [15]:
series <= 0.5

a     True
b     True
c    False
d    False
dtype: bool

In [16]:
print(series+series2)
print(series*series2)
print(series/series2)

a     NaN
b     NaN
c    0.75
d    2.00
e     NaN
dtype: float64
a    NaN
b    NaN
c    0.0
d    1.0
e    NaN
dtype: float64
a    NaN
b    NaN
c    inf
d    1.0
e    NaN
dtype: float64

In [17]:
print(series.add(other=series2,fill_value=0))
print(series.multiply(other = series2, fill_value=1))
print(series.divide(other= series2, fill_value = 1))

a    0.25
b    0.50
c    0.75
d    2.00
e    2.00
dtype: float64
a    0.25
b    0.50
c    0.00
d    1.00
e    2.00
dtype: float64
a    0.25
b    0.50
c     inf
d    1.00
e    0.50
dtype: float64

---
## GO TO DATAFRAMES NOTEBOOK


---

<a id="index"></a>
# indexing & co
[toc](#toc)

## simple indexing

In [18]:
### exlicit indexing : like a dictionary
print(series['a']) 
### implicit indexing : like an array/list
# print(series[0]) ## no longer supported

0.25

In [19]:
### reassignment
series['a'] = 2.25
print(series)

a    2.25
b    0.50
c    0.75
d    1.00
dtype: float32

## slicing

In [20]:
### explicit slicing: from 'a' to 'c' (included)
series['a':'c']

a    2.25
b    0.50
c    0.75
dtype: float32

In [21]:
### implicit slicing : from 0 to 2 (excluded)
series[0:2]

a    2.25
b    0.50
dtype: float32

In [22]:
### start,stop,step like native python: default values: 0,end,1
series[None:1:-1]

d    1.00
c    0.75
dtype: float32

## at,loc and iat,iloc: non-ambiguous indexing

In [23]:
### explicit localisation (+-= where)
display(series.loc['a']) 
series.at['a'] ## faster, but one cell only

np.float32(2.25)

np.float32(2.25)

In [24]:
### implicit, intiger-only localisation 
display(series.iloc[0])
series.iat[0]

np.float32(2.25)

np.float32(2.25)

In [25]:
### slicing
print(series.loc['a':'c'])
print(series.iloc[:2])

a    2.25
b    0.50
c    0.75
dtype: float32
a    2.25
b    0.50
dtype: float32

## boolean indexing

In [26]:
print(series)
print('-'*50)
print(series<=0.5)
print('-'*50)
print(series.loc[series<=0.5])

a    2.25
b    0.50
c    0.75
d    1.00
dtype: float32
--------------------------------------------------
a    False
b     True
c    False
d    False
dtype: bool
--------------------------------------------------
b    0.5
dtype: float32

In [27]:
'''
SELECT index, values  
FROM series  
WHERE values>0.5  
'''
series.loc[series>0.5]

a    2.25
c    0.75
d    1.00
dtype: float32

In [28]:
print(series.loc[series>0.5])
print('-'*10)
print(type(series.loc[series>0.5]))

print('-'*10)
print('-'*10)

print(series.loc[series>0.5].values)
print('-'*10)
print(type(series.loc[series>0.5].values))

a    2.25
c    0.75
d    1.00
dtype: float32
----------
<class 'pandas.core.series.Series'>
----------
----------
[2.25 0.75 1.  ]
----------
<class 'numpy.ndarray'>

In [29]:
display(series2)
print('-'*50)
try:
    series.loc[series2>0]
except Exception as err:
    print(err)

c    0
d    1
e    2
dtype: int64

--------------------------------------------------
Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [30]:
cond = series <= 0.5


print(series[cond]) ## not recommended

print(series.loc[cond])   ## recommended
#print(series.iloc[cond]) ## doesn't work: iloc needs integers   
                          ## because cond has 'a','b',... as index
print('-'*50)
print(series.iloc[cond.values]) ## not recommended

b    0.5
dtype: float32
b    0.5
dtype: float32
--------------------------------------------------
b    0.5
dtype: float32

In [31]:
display(cond.values) # values of "cond"-series : numpy array
display(cond.index)  # indices of "cond"-series : like a numpy array

array([False,  True, False, False])

Index(['a', 'b', 'c', 'd'], dtype='object')

## head & tail

In [32]:
### top 3
series.head(3) ## default 5

a    2.25
b    0.50
c    0.75
dtype: float32

In [33]:
series.tail(2)

c    0.75
d    1.00
dtype: float32

<a id="order"></a>
# Order By: sort
[toc](#toc)

In [34]:
series2 = series.sort_values(ascending=False)
series2

a    2.25
d    1.00
c    0.75
b    0.50
dtype: float32

In [35]:
### ordering changed therfore slicing result changed too
print(series2.iloc[:2])
print('-'*50)
print(series2.loc['a':'b']) ## from 'a' to 'b'
print('-'*50)
print(series2.loc[['a','b']]) ## 'a' and 'b'

a    2.25
d    1.00
dtype: float32
--------------------------------------------------
a    2.25
d    1.00
c    0.75
b    0.50
dtype: float32
--------------------------------------------------
a    2.25
b    0.50
dtype: float32

In [36]:
series3 = series[:-2].copy()
### similar to np.concatenate
series4 = pd.concat([series,series3]) 
print(series4) ## index from original series are kept

a    2.25
b    0.50
c    0.75
d    1.00
a    2.25
b    0.50
dtype: float32

In [37]:
### generate new indices
series5 = pd.concat([series,series3], ignore_index=True)
print(series5)

0    2.25
1    0.50
2    0.75
3    1.00
4    2.25
5    0.50
dtype: float32

<a id="agg"></a>
# Aggregations
[toc](#toc)

In [38]:
print(series)
series.sum() ## sum, mean, std, var, median, mode, quantile

a    2.25
b    0.50
c    0.75
d    1.00
dtype: float32

np.float32(4.5)

In [39]:
### compatible with numpy functions
print(np.sum(series)) 

### native functions from python are not recommended : not optimized for numpy/pandas array 
print(sum(series))

4.5
4.5

In [40]:
series.quantile(0.5) ## quantile(0.5) = 50% percentile = Q2 = median

np.float64(0.875)

In [41]:
series3 = series[:-2].copy()
### similar to np.concatenate
series4 = pd.concat([series,series3]) 
print(series4) ## index from original series are kept

a    2.25
b    0.50
c    0.75
d    1.00
a    2.25
b    0.50
dtype: float32

In [42]:
### generate new indices
series5 = pd.concat([series,series3], ignore_index=True)
print(series5)

0    2.25
1    0.50
2    0.75
3    1.00
4    2.25
5    0.50
dtype: float32

<a id="func"></a>
# Other functionality
[toc](#toc)

In [43]:
null_series = pd.Series(data= [1,2,np.nan])
print(null_series)
null_series.isnull()
print('-'*50)

print(null_series.fillna(0))

print(null_series)
print('-'*50)

null_series.fillna(255,inplace=True)
print(null_series)
#null_series1 = null_series.fillna(321)

0    1.0
1    2.0
2    NaN
dtype: float64
--------------------------------------------------
0    1.0
1    2.0
2    0.0
dtype: float64
0    1.0
1    2.0
2    NaN
dtype: float64
--------------------------------------------------
0      1.0
1      2.0
2    255.0
dtype: float64

## string methods

https://pandas.pydata.org/docs/user_guide/text.html#string-methods

In [44]:
series_str = pd.Series(data= np.random.choice(['aAa','A-A','-a-'],size=(6)),
                   index= np.random.choice(list('abc'),size=(6))
                  )


series_str

c    A-A
a    -a-
b    aAa
b    A-A
a    aAa
a    A-A
dtype: object

In [45]:
series_str.str.contains(pat='-',regex=True)

c     True
a     True
b    False
b     True
a    False
a     True
dtype: bool

In [46]:
splitted = series_str.str.split(pat='-',regex=True)
splitted

c     [A, A]
a    [, a, ]
b      [aAa]
b     [A, A]
a      [aAa]
a     [A, A]
dtype: object

In [47]:
series_str.str.lower()

c    a-a
a    -a-
b    aaa
b    a-a
a    aaa
a    a-a
dtype: object

In [48]:
series_str_2 = series_str.str.replace(pat='\-',repl=' ', regex=True)
print(series_str_2.unique())
series_str_2

['A A' ' a ' 'aAa']

<>:1: SyntaxWarning: invalid escape sequence '\-'
<>:1: SyntaxWarning: invalid escape sequence '\-'
C:\Users\stgadmin\AppData\Local\Temp\ipykernel_7140\617018811.py:1: SyntaxWarning: invalid escape sequence '\-'
  series_str_2 = series_str.str.replace(pat='\-',repl=' ', regex=True)

c    A A
a     a
b    aAa
b    A A
a    aAa
a    A A
dtype: object

In [49]:
print(series_str_2.str.strip().unique())
series_str_2.str.strip()

['A A' 'a' 'aAa']

c    A A
a      a
b    aAa
b    A A
a    aAa
a    A A
dtype: object

## dates/time

In [50]:
pd.Timestamp.today()

Timestamp('2025-07-18 15:22:02.812633')

In [51]:
pd.date_range('2023-01-01',pd.Timestamp.today())

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2025-07-09', '2025-07-10', '2025-07-11', '2025-07-12',
               '2025-07-13', '2025-07-14', '2025-07-15', '2025-07-16',
               '2025-07-17', '2025-07-18'],
              dtype='datetime64[ns]', length=930, freq='D')

In [52]:
dates = pd.Series(pd.date_range('2023-01-01',pd.Timestamp.today()))
dates

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
925   2025-07-14
926   2025-07-15
927   2025-07-16
928   2025-07-17
929   2025-07-18
Length: 930, dtype: datetime64[ns]

In [53]:
months = dates.dt.month_name()
months.head()

0    January
1    January
2    January
3    January
4    January
dtype: object

In [54]:
### format to text
formatted_dates = dates.dt.strftime('[%Y]**(%m)--{%d}')
display(formatted_dates.head(3))

### back
pd.to_datetime(formatted_dates,
               format='[%Y]**(%m)--{%d}').head(3) ## transform like '%Y-%m-%d' but with dtype = datetime

0    [2023]**(01)--{01}
1    [2023]**(01)--{02}
2    [2023]**(01)--{03}
dtype: object

0   2023-01-01
1   2023-01-02
2   2023-01-03
dtype: datetime64[ns]

<a id="concat"></a>
# concatenation
[toc](#toc)

In [55]:
display(series_cat)
display(series)

0    a
1    b
2    c
3    a
4    b
5    c
dtype: object

a    2.25
b    0.50
c    0.75
d    1.00
dtype: float32

In [56]:
pd.concat([series_cat,series])

0       a
1       b
2       c
3       a
4       b
5       c
a    2.25
b     0.5
c    0.75
d     1.0
dtype: object

<a id="map"></a>
# MAP/APPLY
[toc](#toc)

In [57]:
def my_funct(x,val=0.5):
    
    if x < val:
        return -1
    elif x > val:
        return +1
    else:
        return 0

display(series)
series.map(my_funct)

a    2.25
b    0.50
c    0.75
d    1.00
dtype: float32

a    1
b    0
c    1
d    1
dtype: int64

In [58]:
series.apply(my_funct, val=0.75)

a    1
b   -1
c    0
d    1
dtype: int64

### rewrite your problem to prevent use of apply/map

In [59]:
### vectorisation : faster alernative: recommended
### require to think the problem differently than "for each line"
def my_funct_2(series, val=0.5):
    cond1 = series<val
    cond2 = series>val
    return -1*cond1 + cond2

my_funct_2(series,val=0.75)

a    1
b   -1
c    0
d    1
dtype: int64

### benchmarks

In [60]:
series_rdm = pd.Series(np.random.randint(0,10,1_000_000))

In [61]:
series_rdm

0         4
1         5
2         6
3         5
4         3
         ..
999995    0
999996    0
999997    1
999998    3
999999    3
Length: 1000000, dtype: int32

In [62]:
%timeit series_rdm.apply(my_funct, val=5)

942 ms ± 7.29 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [63]:
%timeit my_funct_2(series_rdm,val=5)

9.42 ms ± 77.3 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)